

<%= form_for @comment, url:book_comments_path(@book) do |f| %>
    <div class="row">
        <%= f.text_area :comment, class:"col-xs-12" %>
    </div>

    <div class="actions row">
        <%= f.hidden_field :@comment, :value => @comment %>
        <%= f.submit "Add Comment", class:"btn btn-primary btn-block" %>
    </div>
<% end %>